<div class="row mt-4 margin: 0 auto">
    <div class="col-3" style="margin-left: 20px;">
        <button type="button" class="btn btn-outline-secondary">
            <figure class="figure" >
                <img src="/static/garted-started.jpg" class="figure-img img-fluid rounded" alt="...">
                <p class="text-center mt-1 mb-1" >
                    Getting Started
                </p>
            </figure>
        </button>

        
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-secondary">
            <figure class="figure">
                <img src="/static/garted-started.jpg" class="figure-img img-fluid rounded" alt="...">
                <p class="text-center mt-1 mb-1" >
                    Getting Started
                </p>
            </figure>
        </button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-secondary">
            <figure class="figure">
                <img src="/static/garted-started.jpg" class="figure-img img-fluid rounded" alt="...">
                <p class="text-center mt-1 mb-1" >
                    Getting Started
                </p>
            </figure>
        </button>
    </div>
</div>

